[SeoCmsPage]
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme   }}">
    {% component 'SeoCmsPage' %}
    {% styles %}
</head>
<body>
    {% partial 'header' %}


    
<div class="page">

    {% page %}

    {% partial 'footer' %}
</div>


<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="{{ 'assets/js/app.js'|theme   }}"></script>

{% framework extras %}
{% scripts %}
    
</body>
</html>